:root{
  --text-primary:#000;
  --bgPrimary:#fff;
 --bgSecondary: #F9F9F9;
 --pink: #0071bd;
 --light-blue: #e6f7ff;
 --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
@font-face {
  font-family: regular;
  src: url(../fonts/Aboreto-Regular.ttf)
}
.login{
  margin-bottom: 4%;
  width: 100vw;
  display: flex;
  justify-content:center;
 
 
}
.position{
  width: 1500px;
 
 
  display: block;
  justify-content: center;
}

input{
  margin-top: 4%;
  margin-left: 20%;
  width: 60%;
  height: 30px;
  
 
}
button{
  margin-top: 2%;
  margin-left:20%;
  width: 40%;
  height: 30px;
  cursor: pointer;
  align-self: center;
}

.banner{
  
  display: flex;
  justify-content: center;
  background-size: 100% 140%;
  background-repeat: no-repeat;
  background-image: url(../img/banner1.png);
  border-bottom: 1px solid rgb(172, 170, 170);
}
.bannerBox{
  width: 100%;
  height: 35vh;
 
  display: flex;
  justify-content: center;
 
}

.tittleHandler{
  height: 200px;
  display: flex;
  
}
h3{
  align-self: center;
  margin-left: 2.5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 35px;
}
.produtosBox{
  margin-top: 2%;
  width: 22%;
  margin-left: 2.4%;
  height: 550px;
  float: left;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-family: regular;
  cursor: pointer;
  overflow-y:hidden;
  margin-bottom: 5%;
}
.produtosBox:hover{
transform: scale(1.05);
transition: 0.5s;
}
.produtoImg{
  width: 100%;
  height: 70%;
  
}
.produtos{
  display: flex;
  width: 100%;
  justify-content: center;
  
}
.infoHolder{
  height: 15%;
}
.text{
 width: 100%;
 margin-top: 2%;
 text-align: center;
 padding: 0.5%;
}
.text1{
  align-self: center;
  margin-top: -1%;
}
.comprarProduto{
  height: 40px;
  margin-top: 2%;
  width: 60%;
  margin-left: 20%;
  background-color:black;
  border-radius: 5px;
  justify-content: center;
  font-weight: bolder;
  font-size: 18px;
  color: white;
  display: flex;
}
.header{
  justify-content: center;
  display: flex;
  height: 100px;
  width: 100%;
  
  border-bottom: 1px solid rgb(172, 170, 170);
}

.headerBox{
  width: 100%;
  height: 100%;

  justify-content: center;
  display: block;
  
}
.logo{
margin-top:0%;
height: 100%;
width: 23%;
background-image: url(../img/cslogobc.png);
background-size: 100% 100%;

float: left;
margin-left: 40%;
align-self: center;
}

.loginButton{
  margin-top: 2%;
  height: 45%;
  width: 12%;
  margin-right: 5%;
  float: right;
  background-image: url(../img/login.png);
  background-size: 100% 100%;
  border-radius: 10px;
 
  cursor: pointer;
}

.slugBox{
  width: 70%;
  margin-left: 5%;
  margin-bottom: 5%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  height:700px;
  display: flex;
}
.slug{
margin-top: 3%;
display: flex;
justify-content: center;
}
.imageBox{
  margin-top: 10%;
  margin-left: 10%;
  height: 60%;
  overflow-y: hidden;
  width: 40%;
}
.tittleSlug{
height: 10%;
width: 90%;
margin-left: 5%;
font-family: regular;
text-align: center;
font-size: 35px;
font-weight: bolder;
margin-bottom: 8%;
}
.image{
  filter:brightness(90%);
  width: 100%;
  height: 100%;
 
}
.details{
  width: 50%;
  display: flex;
  
}
.detailsBox{
  
  width: 100%;
  height: 60%;
  align-self: center;
}

.quantidadeBox{
  width: 30%;
  height: 12%;
  margin-left: 35%;
  border: 2px solid rgb(209, 209, 209);
  display: flex;
  border-radius: 20px;
  margin-top: 4%;
}
.counter{
width: 33%;
height: 100%;
cursor: pointer;

}
#counter1{
background-image: url(../img/minus.png);
background-size: 100% 100%;

}
#counter2{
  background-image: url(../img/plus.png);
  background-size: 100% 100%;
}
.numero{
  width: 33%;
  height: 100%;
  text-align: center;
  font-size: 34px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.real{
  padding-right: 2%;
  color: rgb(0, 0, 0);
  font-weight:900;
  
}

.priceSlug{
  height: 10%;
  font-family: regular;
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
 
  font-weight: bolder;
  }

  .comprarButton{
    margin-top: 8%;
    margin-left: 20%;
    width: 60%;
    height: 15%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: regular;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .comprarButton:hover{
    transform: scale(1.05);
    transition: 0.5s;
  }

  h4{
  align-self: center;
  font-size: 20px;
  font-weight: bolder;
  }

  .cart{
    width: 24vw;
    height: 80vh;
   
    position: absolute;
    display: fixed;
    right: 0.5%;
    top: 16%;
    transition: 1s;
    margin-right: -22%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    
    
  }
 
  .cartItemBox{
    display: flex;
    border-bottom: 2px solid #e3e3e3;
    height: 120px;
    background-color: #f1f1f1;
    
  }

  .nameCartBox{
  
    margin-left: 10%; 
    overflow-y: hidden;
    
  
  }

  .priceCartBox{
    margin-top: 4%;
    margin-left: 10%; 
    color: rgb(201, 171, 90);
    
  }
  .itemCartBox{
    width: 70%;
    height: 100px;
    display: block;
    margin-top: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
 .art{
 margin-left: 5%;
   width: 40px;
   height: 35px;
   align-self: center;
   background-image: url(../img/cartcase.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
 }

  .cartTittleBox{
    width: 100%;
    height: 80px;
    display: flex;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #e3e3e3;
  }
   h2{
   align-self: center;
   margin-left: 3%;
  }
  h6{
    align-self: center;
    font-size: 23px;
    margin-left: 3%;
   }
  .cartTittleItem{
    margin-left: 10%;
  }
  #detalhes{
    
    width: 16%;
    margin-left: 20%;
  }
  .placeholderCart{
    width: 100%;
    height: 8%;
    
    display: flex;
    
  }
  .placeholderText{
    margin-left: 22%;
    align-self: center;
    color: rgb(73, 73, 73);
  }
  .imgCartBox{
    margin-top: 15px;
    margin-left: 5%;
  width: 20%;
  height: 90px;
  overflow-y: hidden;
  }
  .cartImage{
width: 100%;
height: 100%;
  }
  #precoPlace{
    width: 10%;
    margin-left: 17%;
  }


  .paymentBox{
    width: 100%;
    height: 80px;
    display: flex;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #e3e3e3;
  }
  .paymentText{
    margin-top: 2%;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 10%;
    height: 40%;
    align-self: center;
    font-weight: bolder;
  }
  .paymentTotal{
    margin-top: 2%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    width: 25%;
    height: 40%;
    margin-left: 50%;
    align-self: center;
  }

  .paymentButton{
    align-self: center;
    margin-left:25%;
    width: 50%;
    height: 60%;
    background-color: red;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
  }
  .paymentButton:hover{
    transform: scale(1.05);
    transition: 0.5s;
  }

  .comprarText{
    margin-top: 4%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 24px;
    
  }
.footer{
  display: flex;
  justify-content: center;
 background-color: #f6f8f9;
 border-top: 1px solid rgb(231, 231, 231);
}
.footerBox{
  height: 200px;
  
  width: 100%;
  
  justify-content: center;
}
.pagueBox{
  margin-top: 2%;
  margin-left:5%;
  width: 40%;
  height: 16%;
  background-image: url(../img/pague.PNG);
  background-size: 100% 100%;
  border-radius: 10px;
  filter: brightness(97.5%);
}
.menuBox{
  margin-top: 1%;
  margin-left: 5%;
  width: 10%;
  height: 30%;
  cursor: pointer;
  background-size: 100% 100%;
}

.devByBox{
  margin-top: 0%;
  margin-left: 38.5%;
  width: 25%;
  height: 20%;
  
  background-size: 100% 100%;
}

.menuBoxText{
  margin-top: 1%;
  font-weight:normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 14%;
  font-size: 20px;
  color: rgb(102, 102, 102);
}
.devByText{
  margin-top: 1%;
  font-weight:lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 5%;
  font-size: 20px;
}
.loginPage{
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
 

}
.loginAuth{
  width: 600px;
  height: 500px;
  margin-top: 5%;
  margin-left: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.loginTittleHandler{
  margin-top: 5%;
}
.input{
  margin-bottom: 8%;
  border: none;
  border-bottom: 2px solid black;
}
.buttonLogin{
  border-radius: 5px;
  height:35px;
  background-color: transparent;
  border: 1px solid grey;
}
.buttonLogin:hover{
  background-color:black;
  color: white;
  
}

.insertProduct{
  margin-top: 2%;
  width: 80%;
  margin-left: 10%;
  
}

.registerTittleHandler{
  width: 100%;
  margin-top: 3%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 50px;
  
}
.inputRegisterBox{
  width: 100%;

  
}

.inputRegister{
  margin-top: 5%;
  height: 50px;
  border-radius: 5px;
  border: 0.5px solid grey;
}

.loginBox{
  margin-top: 2%;
  margin-left: 35%;
  
  width: 30%;
  border: 1px solid black;

 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
}
.loginBoxText{
  background-color: red;
  border: 2px solid red;
}

.buttonUserBox{
  margin-top: 2%;
  width: 80%;

  height: 100px;
  margin-left: 10%;
  align-self: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;

}
.buttonUser{
margin-bottom: 5%;
width: 40%;
margin-left: 30%;
background-color: white;
color: black;
border-radius: 5px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 18px;
font-weight: bolder;
}
.buttonUser:hover{
  background-color: black;
  color: white;
}
.OBS{
  color: red;
  font-weight: bolder;
}

.productList{
  margin-top: 5%;
}
.produtosBoxRegister{
  margin-top: 2%;
  width: 80%;
  margin-left: 10%;
  height: 150px;
  float: left;
  border: 1px solid rgb(209, 208, 208);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  cursor: pointer;
  overflow-y:hidden;


}

.textRegister{
  width: 100%;
  margin-top: 6%;
  text-align: center;
  padding: 0.5%;
  align-self: center;
}

.filter{
  margin-top: 2%;
  justify-content: center;
  display: flex;
}

.produtoImgRegister{
  width: 20%;
  height: 100%;
  float: left;
  border-right: 1px solid rgb(209, 208, 208);
}
.contentRegister{
width: 35%;

float: left;

margin-left: 5%;
}

.filterBox{
  width: 80%;
  margin-left: 10%;
  height: 100px;
  margin-top: 1%;
  margin-bottom: 1%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
}
.filterItem:hover{
  background-color:#a3d4e2;
}
.filterItem{
  width: 20%;
  margin-top: 3%;
  height: 40%;
  cursor: pointer;
  float: left;
  margin-left: 4.5%;
  display: flex;
  justify-content: center;
  background-color:rgb(250, 249, 249) ;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;

}
.filterText{
  align-self: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  font-size: 18px;
}