:root{
  --text-primary:#000;
  --bgPrimary:#fff;
 --bgSecondary: #F9F9F9;
 --pink: #0071bd;
 --light-blue: #e6f7ff;
 --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login{
  width: 100vw;
  display: flex;
  justify-content:center;
  border: 2px solid blue;
 
}
.position{
  width: 1500px;
  
 
  display: block;
  justify-content: center;
}
.loginBox{
  margin-left: 70%;
  height: 50px;
  width: 30%;
 
  background-color: red;
}
input{
  margin-top: 4%;
  margin-left: 20%;
  width: 60%;
  height: 30px;
  
 
}
button{
  margin-top: 2%;
  margin-left:20%;
  width: 40%;
  height: 30px;
  cursor: pointer;
  align-self: center;
}
.insertProduct{
  margin-top: 5%;
  width: 60%;
  margin-left: 20%;
  background-color: blue;
}

.productList{
  margin-top: 15%;

}
.produtosBox{
  width: 20%;
  margin-right: 5%;
  height: 450px;
  float: left;
  border: 2px solid red;
}
.produtoImg{
  width: 100%;
  height: 70%;
}
.produtos{
  display: flex;
  width: 100%;
  justify-content: center;
}

.text{
 width: 100%;
 margin-top: 2%;
 text-align: center;
 padding: 0.5%;
}
.header{
  justify-content: center;
  display: flex;
  height: 150px;
  width: 100%;
  background-color: black;
}

.headerBox{
  width: 100%;
  height: 100%;

  justify-content: center;
  display: block;
  
}
.logo{
margin-top:0%;
height: 100%;
width: 23%;
background-image: url(../img/cslogobc.png);
background-size: 100% 100%;

float: left;
margin-left: 40%;
align-self: center;
}

.loginButton{
  margin-top: 3%;
  height: 35%;
  width: 12%;
  margin-right: 5%;
  float: right;
  background-image: url(../img/login.png);
  background-size: 100% 100%;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
}
.loginButton:hover{
  border: 1px solid rgb(9, 216, 188);
}