:root{
  --text-primary:#000;
  --bgPrimary:#fff;
 --bgSecondary: #F9F9F9;
 --pink: #0071bd;
 --light-blue: #e6f7ff;
 --border: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
@font-face {
  font-family: regular;
  src: url(../fonts/Aboreto-Regular.ttf)
}
.login{
  width: 100vw;
  display: flex;
  justify-content:center;
  border: 2px solid blue;
 
}
.position{
  width: 1500px;
 
 
  display: block;
  justify-content: center;
}
.loginBox{
  margin-left: 70%;
  height: 50px;
  width: 30%;
 
  background-color: red;
}
input{
  margin-top: 4%;
  margin-left: 20%;
  width: 60%;
  height: 30px;
  
 
}
button{
  margin-top: 2%;
  margin-left:20%;
  width: 40%;
  height: 30px;
  cursor: pointer;
  align-self: center;
}

.banner{
  background-image: url(../img/banner.png);
  display: flex;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.bannerBox{
  width: 100%;
  height: 55vh;
  


}

.insertProduct{
  margin-top: 5%;
  width: 60%;
  margin-left: 20%;
  background-color: blue;
}

.productList{
  margin-top: 15%;

}
.tittleHandler{
  height: 200px;
  display: flex;
  justify-content: center;
}
h3{
  align-self: center;
  margin-left: 2.5%;
  font-family: regular;
  font-weight: bolder;
  font-size: 35px;
}
.produtosBox{
  margin-top: 2%;
  width: 22%;
  margin-left: 2.4%;
  height: 450px;
  float: left;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-family: regular;
  cursor: pointer;
  overflow-y:hidden;
  margin-bottom: 5%;
}
.produtosBox:hover{
transform: scale(1.05);
transition: 0.5s;
}
.produtoImg{
  width: 100%;
  height: 70%;
  
}
.produtos{
  display: flex;
  width: 100%;
  justify-content: center;
  
}

.text{
 width: 100%;
 margin-top: 2%;
 text-align: center;
 padding: 0.5%;
}
.header{
  justify-content: center;
  display: flex;
  height: 150px;
  width: 100%;
  background-color: black;
}

.headerBox{
  width: 100%;
  height: 100%;

  justify-content: center;
  display: block;
  
}
.logo{
margin-top:0%;
height: 100%;
width: 23%;
background-image: url(../img/cslogobc.png);
background-size: 100% 100%;

float: left;
margin-left: 40%;
align-self: center;
}

.loginButton{
  margin-top: 3%;
  height: 35%;
  width: 12%;
  margin-right: 5%;
  float: right;
  background-image: url(../img/login.png);
  background-size: 100% 100%;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
}
.loginButton:hover{
  border: 1px solid rgb(9, 216, 188);
}
.slugBox{
  width: 70%;
  margin-left: 5%;
  margin-bottom: 5%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  height:700px;
  display: flex;
}
.slug{
margin-top: 3%;
display: flex;
justify-content: center;
}
.imageBox{
  margin-top: 10%;
  margin-left: 10%;
  height: 60%;
  overflow-y: hidden;
  width: 40%;
}
.tittleSlug{
height: 10%;
width: 90%;
margin-left: 5%;
font-family: regular;
text-align: center;
font-size: 35px;
font-weight: bolder;
margin-bottom: 8%;
}
.image{
  filter:brightness(90%);
  width: 100%;
  height: 100%;
 
}
.details{
  width: 50%;
  display: flex;
  
}
.detailsBox{
  
  width: 100%;
  height: 60%;
  align-self: center;
}

.quantidadeBox{
  width: 30%;
  height: 12%;
  margin-left: 35%;
  border: 2px solid rgb(209, 209, 209);
  display: flex;
  border-radius: 20px;
  margin-top: 4%;
}
.counter{
width: 33%;
height: 100%;
cursor: pointer;

}
#counter1{
background-image: url(../img/minus.png);
background-size: 100% 100%;

}
#counter2{
  background-image: url(../img/plus.png);
  background-size: 100% 100%;
}
.numero{
  width: 33%;
  height: 100%;
  text-align: center;
  font-size: 34px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.real{
  padding-right: 2%;
  color: rgb(0, 0, 0);
  font-weight:900;
  
}

.priceSlug{
  height: 10%;
  font-family: regular;
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
 
  font-weight: bolder;
  }

  .comprarButton{
    margin-top: 8%;
    margin-left: 20%;
    width: 60%;
    height: 15%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: regular;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .comprarButton:hover{
    transform: scale(1.05);
    transition: 0.5s;
  }

  h4{
  align-self: center;
  font-size: 20px;
  font-weight: bolder;
  }
  .modalCart{

  }
  .cart{
    width: 24vw;
    height: 80vh;
   
    position: absolute;
    display: fixed;
    right: 0.5%;
    top: 16%;
    transition: 1s;
    margin-right: -22%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    overflow-y: hidden;
    
  }

  .cartItemBox{
    display: flex;
    border-bottom: 2px solid #e3e3e3;
    height: 120px;
    background-color: #f1f1f1;
    
  }

  .nameCartBox{
  
    margin-left: 10%; 
    overflow-y: hidden;
    
  
  }

  .priceCartBox{
    margin-top: 4%;
    margin-left: 10%; 
    
    
  }
  .itemCartBox{
    width: 70%;
    height: 100px;
    display: block;
    margin-top: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
  }
 .art{
 margin-left: 5%;
   width: 40px;
   height: 35px;
   align-self: center;
   background-image: url(../img/cartcase.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
 }

  .cartTittleBox{
    width: 100%;
    height: 80px;
    display: flex;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #e3e3e3;
  }
   h2{
   align-self: center;
   margin-left: 3%;
  }
  h6{
    align-self: center;
    font-size: 23px;
    margin-left: 3%;
   }
  .cartTittleItem{
    margin-left: 10%;
  }
  #detalhes{
    
    width: 16%;
    margin-left: 20%;
  }
  .placeholderCart{
    width: 100%;
    height: 8%;
    
    display: flex;
    
  }
  .placeholderText{
    margin-left: 22%;
    align-self: center;
    color: rgb(73, 73, 73);
  }
  .imgCartBox{
    margin-top: 15px;
    margin-left: 5%;
  width: 20%;
  height: 90px;
  overflow-y: hidden;
  }
  .cartImage{
width: 100%;
height: 100%;
  }
  #precoPlace{
    width: 10%;
    margin-left: 17%;
  }


  .paymentBox{
    width: 100%;
    height: 80px;
    display: flex;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #e3e3e3;
  }
  .paymentText{
    margin-top: 2%;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 10%;
    height: 40%;
    align-self: center;
    font-weight: bolder;
  }
  .paymentTotal{
    margin-top: 2%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    width: 25%;
    height: 40%;
    margin-left: 50%;
    align-self: center;
  }

  .paymentButton{
    align-self: center;
    margin-left:25%;
    width: 50%;
    height: 60%;
    background-color: red;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
  }
  .paymentButton:hover{
    transform: scale(1.05);
    transition: 0.5s;
  }

  .comprarText{
    margin-top: 4%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 24px;
    
  }
